@tailwind base;
@tailwind components;
@tailwind utilities; 

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} 

/* AMP Boilerplate CSS */
/* body {
  -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
  -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
  -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
  animation: -amp-start 8s steps(1, end) 0s 1 normal both;
}

@-webkit-keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@-moz-keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@-ms-keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

noscript body {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
} */
